@font-face {
  font-family: "Reg";
  src: url('../fonts/Nunito-Regular.ttf');
};

@font-face {
  font-family: "Bold";
  src: url('../fonts/Nunito-Bold.ttf');
};

@font-face {
  font-family: "Light";
  src: url('../fonts/Nunito-Light.ttf');
};

@font-face {
  font-family: "Semibold";
  src: url('../fonts/Nunito-SemiBold.ttf');
};