//Colors
$baseColorLight: #FF006E;
$baseColorDark: #0A203E;
$pageTitleBackgroundColor: #1E4C83;
$addonColorOne: #12C2AE;
$addonColorTwo: #C482DB;
$backColor: #F1F1F1;

// Media screens
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 820px; // default 768px
$phoneWidth: 480px;
$smPhoneWidth: 320px;


