@import "../../index";

.page_title_block {
  height: 300px;
  background-color: $pageTitleBackgroundColor;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;

  .page_title {
    @extend %title-white;
    text-align: center;
    font-size: 2em;
  }
}

.course_item {
  display: flex;
  padding: 2em;
  width: 100%;
  margin: 0.5em 0;
  transition: 0.5s;
  justify-content: space-evenly;

  &:first-child {
    margin-top: 1em;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  &__info {
    display: flex;
    flex-basis: 65%;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .title {
    @extend %title-white;
  }

  .button {
    @extend %button;
    background-color: white;
    font-size: 1em;
    color: black;
  }

  &:nth-child(4n+1) {
    background-color: $baseColorDark;
  }

  &:nth-child(4n+2) {
    background-color: $baseColorLight;
  }

  &:nth-child(4n+3) {
    background-color: $addonColorOne;
  }

  &:nth-child(4n) {
    background-color: $addonColorTwo;
  }

  img {
    max-width: 100%;
    max-height: 200px;
  }


  &__text {
    color: white;
    padding: 1em 0;
  }

  span:first-child {
    margin-right: 1em;
  }

}
