@import '../../index';

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;

  &__active {
    display: flex !important;
    flex-direction: column;
    font-size: larger;

    a {
      line-height: 2;
    }
  }

  a {
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: $tableWidth) {
    display: none;
  }
}