@import "../app/app";

.graduated {
  @extend %content-block;

  .graduated-list {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    img {
      max-width: 100%;
      height: auto;
    }


  }
}

